#!/bin/bash
######################################################
#         script developed by PerformanceDB          #
#             wwww.performancedb.com.br              #
######################################################
#           PDB Scripts General Settings             #
######################################################
#             Use without moderation                 #
######################################################

_version="1.0.1"
#
## Database connection
#
_dbUser=""
_dbPass=""

#
## Path of temporary files generation
#
_tmpDir="/tmp/" #always keep to / at the end


_haveWget=$(which wget|wc -l)
if [ "$_haveWget" != "0" ]; then
#
## Upgrade scripts
#
_lastedVersion=$(wget http://performancedb.com.br/pdbscripts/realeses/last -q -O -)
if [ $_lastedVersion != $_version ]; then
    IFS="|" read -r -a _lastedVersionLogArr <<< $_lastedVersionLog
    clear
    echo "_   __                        _    __                          _                    "
    echo "/ | / /  ___  _      __       | |  / /  ___    _____   _____   (_)  ____    ____    "
    echo "/  |/ /  / _ \| | /| / /       | | / /  / _ \  / ___/  / ___/  / /  / __ \  / __ \  "
    echo "/ /|  /  /  __/| |/ |/ /        | |/ /  /  __/ / /     (__  )  / /  / /_/ / / / / / "
    echo "/_/ |_/   \___/ |__/|__/         |___/   \___/ /_/     /____/  /_/   \____/ /_/ /_/ ":
    echo "######################################################"
    echo "#         script developed by PerformanceDB          #"
    echo "#             wwww.performancedb.com.br              #"
    echo "######################################################"
    echo "#        We have new updates to PDB Scripts          #"
    echo "#        We have new updates to PDB Scripts          #"
    echo "#        We have new updates to PDB Scripts          #"
    echo "#                    That's it!                      #"
    echo "#        We have new updates to PDB Scripts          #"
    echo "######################################################"
    echo ""
    echo " -> You are with version $_version, and the $_lastedVersion version is already available <- "
    echo ""
    echo "Check the news !"
    wget -qO- http://performancedb.com.br/pdbscripts/realeses/last/log/ |while read linha ; do
      echo  " - $linha";
    done
    echo ""
    read -p "Do you want to update the PDF Scripts? [Y/N] " _update
    if [ "$_update" = "Y" ] || [ "$_update" = "y" ]; then
      wget http://performancedb.com.br/pdbscripts/realeses/pdbscripts-$_lastedVersion.tar -P $(dirname $0)/
      tar -zxvf $(dirname $0)/pdbscripts-$_lastedVersion.tar -C $(dirname $0)/
      rm -rf $(dirname $0)/pdbscripts-$_lastedVersion.tar
    fi
  fi
fi
